
body, html {
    font-family: arial, sans-serif;
    font-size: small;
    padding: 0;
    margin: 0;
}

/* top */
#top {
    width: 98%;
    min-width: 1120px;
}

#logo {
    width: 92px;
    height: 30px;
    padding: 4px 35px 0 30px;
    top: 10px;
    margin-top: 24px;
    margin-left: -10px;
}

#mglass {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 35px;
    margin-left: 35px;
}

#search {
    width: 534px;
    height:  42px;
    border: 0.5px solid #ddd;
    border-radius: 30px;
    padding-left: 22px;
    padding-right: 80px;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
    text-align: right;
}

#search:hover {
    border-color:rgba(223,225,229,0);
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

#sbar {
    width: 527px;
    height: 34px;
    border: none;
    margin-top: 8px;
    margin-right: 7px;
    font-size: 16px;
    position: relative;
    bottom: 5px;
    background-color: transparent;
    display: inline-block;
}

#ut {
    float: right;
    padding-right: 15px;
    padding-top: 10px;
}

#signin {
    text-decoration: none;
    color: #FFF;
    background-color: #4285f4;
    line-height: 28px;
    padding: 2px 25px;
    border: 1px;
    border-style: solid;
    border-color: #4285f4; 
    border-radius: 4px;
    display: inline-block;
    opacity: 1.0;
}

#signin:hover {
    border-color: #2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px rgba(66,133,244,0.15);
    display: inline-block;
    opacity: 0.9;
    }

#apps {
    height: 24px;
    width: 24px;
    position: relative;
    top: 14px;
    opacity: 0.65;
    padding: 8px;
    margin-right: 10px;
}

#apps:hover {
    background-color: rgba(219, 219, 219, 0.692);
    border-radius: 50%;
    padding: 8px;
}

/* nav */
#nav li, #nav li a {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding: 9px 7px 0px 7px;
    color: rgb(87, 87, 87);
}

#nav a:hover {
    text-decoration: none;
    color: blue;
}

#nav {
    margin-left: 150px;
    max-width: 620px;
}

#left {
    padding-left: 0;
    display: inline-block;
}

#right {
    float: right;
}

#tools {
    border-radius: 2px solid transparent;
    border: 1px solid transparent;
    background-color: #1114ac00;
    padding: 6px 10px;
}

#tools:hover {
    padding: 6px 10px;
    color: #555;
    border: 1px solid #aaa;
    background-color: #eee;
    border-radius: 2px;
}

header {
    border-bottom: 1px solid rgba(151, 151, 151, 0.4);
}

/* links */

.stats {
    color: #777;
    margin-left: 160px;
    font-size: 14px;
}

#results {
    width: 620px;
    margin-left: 145px;
    line-height: 1.6em;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 15px;
}

#results p {
    color: #545454;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 20px;
    line-height: 1.3;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

h3 a {
    text-decoration: none;
    color: #1114ac;
}

h3 a:visited {
    color: purple;
}

h3 a:hover {
    text-decoration: underline;
}

#ads {
    color: #006621;
    vertical-align: bottom;
    max-width: 620px;
    font-style: normal;
    line-height: 1.5;
    display: inline-block;
    white-space: nowrap;
    padding-bottom: 0px;
    padding-top: 1px;
}

.ad {
    border-radius: 3px;
    border: 1px solid #006621;
    padding: 1px 3px 0 2px;
    line-height: 11px;
    margin-right: 7px;
    font-size: 12px;
    display: inline-block;
}

.cite {
    color: #006621;
    font-style: normal;
    font-size: 16px;
}

.ref::before {
    content:" · ";
    font-size: 14px;
}

.refs a, .refs li, .refs {
    display: inline;
    margin: 0;
    padding-left: 0px;
    content: ".";
    text-decoration: none;
    color:  #1114ac;
    font-size: 14px;
}

#box {
    border: 1px solid #dddddd;
    border-radius: 10px;
    width: 620px;
    margin-left: 0px;
    margin-bottom: 35px;
}

h2 {
    margin-left: 20px;
    font-weight: normal;
}

h1 {
    margin-left: 20px;
    font-weight: normal;
    display: inline-block;
}

#box b {
    margin-left: 20px;
    font-size: 16px;
}

#box li {
    font-size: 16px;
    margin-bottom: 4px;
}

#box p {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
}

.related a {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    color:  #1114ac;
}


.related li, .related ul {
    margin-left: 0px;
    padding-left: 10px;
    list-style: none;
    display: inline-block;
}

.related a:hover {
    text-decoration: underline;
}

.related a {
    text-align: left;
    margin-left: 0px;
    margin-top: 3px;
    padding-left: 20px;
}

.imgad {
    width: 72px;
    height: 72px;
    object-fit: cover;
    display: block;
    padding-left: 20px;
}

h1 {
    font-size: 20px;
}

.rel {
    float: right;
    color: #545454;
    text-decoration: none;
    margin-top: 13px;
    margin-right: 20px;
    font-size: 14px;
}

#more {
    margin-left: 20px;
    margin-bottom: 15px;
}

table {
    border: 1px solid #dddddd;
    border-radius: 10px;
    width: 620px;
    margin-left: 0px;
    margin-bottom: 35px;   
    text-align: left; 
    margin-bottom: 0px;
}

table td {
    border-top: 1px solid #dddddd;
    font-size: 16px;
    padding-bottom: 9px;
    padding-top: 9px;
    line-height: 1.5;
    padding-left: 20px;
}

.fback {
    width: 555px;
    text-align: right;
    font-style: italic;
    padding-left: 40px;
}

.end img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* FOOTER */
footer {
    display: inline-block;
    bottom: 0;
    width: 100%;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    margin-top: 20px;
    font-size: 14px;
}

.footer-container {
    border-bottom: 1px solid #e4e4e4;
}


.footer-top {
    width: 600px;
    margin-left: 160px;
}


.footer-top p{
    display: inline-block;
    color: #5f6368;
    padding-right: 10px;
}

.footer-top ul {
    display: inline-block;
    margin-top: 1px;
    margin-bottom: 1px;
    border-left: 1px solid #e4e4e4;
    padding-left: 10px;
}

.footer-top li,
.footer-bottom li {
    list-style-type: none;
}

.footer-top li a,
.footer-bottom li a {
    color: #5f6368;
    text-decoration: none;
}

.footer-top li a:hover, .footer-bottom li a:hover {
    color: #444444;
    text-decoration: none;
}

.footer-bottom {
    margin: 20px 0 10px;
    margin-left: 160px;
}

.footer-bottom ul {
    padding-left: 0px;
}

.footer-bottom a {
    padding-right: 20px;
}